.avaluos {
  @include for-size(desktop-xbig) {}
  @include for-size(desktop-middle) {
    &__card-key {
      font-size: 1.6rem;
      line-height: 2rem;
  }
  &__card-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    
}
&__card{
  padding: 20px;
}
&__card--cardData {
  padding: 10px 20px 20px;
}
  }
  @include for-size(desktop-mid) {}
  @include for-size(desktop) {
    &__btn-status {
      font-size: 1.5rem !important;
      line-height: 2rem !important;
      margin-left: 20px;
      height: 40px;
      width: auto;
  }
  }
  @include for-size(tablet-landscape) {
    &__description-hero {
     flex-wrap: wrap;
     gap: 15px;
  }
  &__description-title{
    width: 100%;
  }
  
  }
  @include for-size(tablet-portrait) {}
  @include for-size(tablet-small) {}
  @include for-size(phone-xbig) {
    &__grid{
      padding: 8px;
    }
  }
  @include for-size(phone-big) {
    &__info-user{
      &--movil{
        flex-direction: column;
        gap: 8px
      }
    }
  }
  @include for-size(phone-mid) {}
  @include for-size(phone) {}
}